.flexContainer {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .flexContainer {
        padding: 1rem;
        gap: 1.2rem;

    }
}