.favouriteProduct {
	padding: 1rem 0;
	display: flex;
	gap: 3rem;
	border-top: 1px solid var(--color-text-default);
	margin: 0.5rem 0;
}

.favouriteProduct img {
	width: 100px;
	height: 120px;
}

.favouriteProductInfo {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.topRow {
	display: flex;
	justify-content: space-between;
	font-size: 1.25rem;
	margin-bottom: 1rem;
	font-weight: 700;
}

.priceRow span {
	color: var(--color-text-grey);
	font-weight: normal;
}

.priceRow p {
	font-weight: 700;
}

.btnRow {
	display: flex;
	gap: 2rem;
	flex: 1;
	align-items: flex-end;
}

.btnRow button {
	border: none;
	background: none;
	display: flex;
	align-items: center;
}

.btnRow button img {
	margin-right: 0.5rem;
	width: 1.25rem;
	height: 1.25rem;
}

@media (max-width: 578px) {
	.topRow > p {
		display: none;
	}
}

@media (max-width: 1024px) {
	.favouriteProduct {
		gap: 1.5rem;
	}

	.topRow {
		font-size: 1rem;
	}

	.btnRow {
		gap: 1rem;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-top: 1rem;
	}

	.btnRow button {
	}

	.btnRow button img {
		width: 1.25rem;
		height: 1.25rem;
	}
}
