.thumbnails {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .1rem;
}

.thumbnails img {
	width: 65px;
	height: 110px;
	cursor: pointer;
}

.thumbnails img.active {
	border: 2px solid var(--color-text-default);
}

.mainPhoto {
	width: 200px;
	height: 190px;
}

@media (min-width: 768px) {

	.thumbnails img {
		width: 100px;
		height: 120px;
	}
	.mainPhoto {
		width: 330px;
		height: 400px;
	}
}

@media (min-width: 1024px) {
	.thumbnails {
		flex-direction: row;
		flex-wrap: wrap;
        gap: 1rem
	}

	.mainPhoto {
		width: 350px;
		height: 450px;
	}
}
